.text-brown {
    color: brown;
}

.add-box {
    height: 200px;
    width: 70vw;
}
.custom-btn {
    color: white;
    font-weight: 700;
    background-color: brown;
    border: 1px solid brown;
    padding: 8px 12px;
    border-radius: 10px;
    transition-behavior: smooth;
    transition-duration: 0.2s;
}

.custom-btn:hover {
    box-shadow: 15px 10px 0px 0px burlywood;
}

.custom-btn:disabled {
    background-color: gray;
    color: lightgray;
    border: none;
}

.custom-btn:disabled:hover {
    box-shadow: none;
}

.phoneCode{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;
}

.phoneInput{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.phoneInput::-webkit-inner-spin-button,::-webkit-outer-spin-button {
    display: none;
}